<h1> New task </h1>

<%= form_with model: @task do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :details %>
  <%= form.text_field :completed %>
  <%= form.submit %>
<% end %>
<%= link_to "back to tasks list", root_path %>
